.footer {
    display: flex;
    position: relative;
    align-items: center;
    background: url(../../images/shared/desktop/bg-pattern-circle.svg), get-color(mirage-blue);
    background-repeat: no-repeat;
    background-position: 76vw calc(0.2 * -78rem);
    width: 100%;
    left: -9vw;
    padding: 3rem 9vw;
    transition: all ease-in-out 0.3s;

    .page-links {
        color: get-color(light-san-juan-blue);
        li {
            font-weight: 700;
            transition: all ease-in-out 0.3s;
        }
        li:hover {
            color: get-color(link-water-white);
        }
    }

    &-socials {
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        width: 100px;

        a i {
            transition: all ease-in-out 0.3s;
            font-size: 20px;
            color: get-color(link-water-white);

            &:hover {
                color: get-color(dark-pink);
                filter: brightness(1.5)
            }
        }
    }

    @include rwd(800) {
        background-position: 48vw calc(0.2 * -78rem);
    }

    @include rwd(645) {
        flex-direction: column;
        padding: 40px 9vw;
        background-position: center calc(0.2 * 78rem);

        .page-links {
            margin:  2rem 0 25px;
            flex-direction: column;
            align-items: center;
            color: get-color(light-san-juan-blue);
            

            li {
                margin-bottom: 2rem;
                font-weight: 700;
                &:last-of-type { margin-bottom: 0 }
            }
        }

        &-socials {
            margin-left: 0;
        }
    }
}